<style>
    footer {
        margin-top: 5rem;
    }
</style>
<footer class="container">
    <p>Allergier, synd.</p>
    <p>Allt detta är ett pedagogiskt exempel för att arbeta med 11ty och pizzor.</p>
</footer>