{% if pizza %}
<div class="pizza__card">
    {% if pizzaPage %}
    <figure>
        <img src="{{ pizza.image }}" alt="{{ pizza.name }}">
        <figcaption>Alla ingredienser som inte syns är inbakade under osten.</figcaption>
    </figure>
    {% endif %}
    <h1>
        <span>{{ pizza.number }}. </span>
        <a class="pizza__name" href="/pizza/{{ pizza.name | slug }}">{{ pizza.name }}</a>
        <span class="pizza__price">{{ pizza.price }}kr</span>
    </h1>
    <p>{{ pizza.toppings }}</p>
</div>
{% endif %}