.container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

h1 > .pizza__name::first-letter {
    text-transform: uppercase;
}
.pizza__name {
    display: inline-block;
}