@use "utilities/reset";

@use "theme" as theme;

@use "utilities/container";

h1 > .pizza__name::first-letter {
    text-transform: uppercase;
}
.pizza__name {
    display: inline-block;
}

.pizza__price {
    font-size: 1rem;
}